@import "~antd/dist/antd.css";

#root, .App {
  height: 100%;
  overflow: hidden;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.sub-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  li {
    padding-right: 20px;
  }
}

#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

#marker {
  background-color: #ff8d8e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.weather-list {
  li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    span{
      width: 200px;
    }
  }
  img {
    height: 30px;
    width: 30px;
  }
}